.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto; 
    background-color: #f7f7f7;
}

#score {
  width: 600px;
  height: 30px;
  border-bottom: 1px solid #000;
  margin: auto; 
  background-color: #f7f7f7;
}

.start {
  width: 600px;
  height: 40px;
  text-align: centner;
  margin: auto; 
  background-color: #f7f7f7;
}

.btnStart {
  margin: 0 auto;
  display: block;
}

.divJump {
  width: 600px;
  height: 40px;
  text-align: centner;
  margin: auto; 
  background-color: #f7f7f7;
}

.btnJump {
  margin: 0 auto;
  display: block;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(../img/dino.gif);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    transform: scaleX(-1);
  }
  .cactus {
    width: 20px;
    height: 40px;
    background-image: url(../img/cacto.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusMove 1s infinite linear;
  }

  .cactusNone {
    width: 20px;
    height: 40px;
    background-image: url(../img/cacto.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;    
  }
  @keyframes cactusMove {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

.jump {
    animation: jump 0.4s linear;
}

@keyframes jump {
    0% {
      top: 150px;
    }
    30% {
        top: 50px
    }
    50% {
        top: 50px;
    }
    80% {
        top: 50px;
    }
    100% {
      top: 100px;
    }
  }